@import '../../../styles.scss';

.libraryPane {
  color: $gray1;
  list-style: none;
  height: 200px;
  overflow-y: scroll;
}

.libraryPane > li:hover {
  background-color: $accentColor;
  color: $gray7;
  cursor: pointer;
}

.libraryContainer {
  display: inline-flex;
  border: 1px solid $gray1;
}

.libraryContainer > ul {
  border-right: 1px solid $gray1;
  padding: 10px;
}
