@import '../styles.scss';

$navbarRadius: 25px;

.navbar {
  background-color: $brandColor;
  color: $gray1;
  padding: 0.5em;

  display: flex;
  border-radius: 0 0 $navbarRadius $navbarRadius;
}

.long-options {
  margin-left: 1em;
  display: flex;
}
.long-options > div {
  margin-left: 1em;
}

.title {
  font-size: 1.5em;
  padding-right: 1em;
  border-right: 1px solid $gray1;
  padding-left: 1em;
}

.library-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar input {
  width: 20em;
}
