<nav class="navbar">
  <div class="title">
    {{title}}
  </div>
  <div class="long-options">
  <div class="library-button">
    <a><i class="fa fa-compact-disc"></i> Library</a>
  </div>
  <div class="search-bar">
    <div>
        <i class="fa fa-search"></i>
        &nbsp;
        <input type="text">
    </div>
  </div>
  </div>
</nav>
<ul>
  <button (click)="loadSongs()">Load Songs</button>
  <app-music-library [artists]="this.library" (songSelected)="playSong($event)"></app-music-library>
</ul>
<app-now-playing [song]="this.nowPlaying" (pause)="pause($event);" (play)="play($event);"></app-now-playing>

