/* You can add global styles to this file, and also import other style files */
$brandColor: #C30013;
$accentColor: #87BE00;
$gray1: rgb(255, 255, 255);
$gray2: rgb(200, 200, 200);
$gray3: rgb(175, 175, 175);
$gray4: rgb(150, 150, 150);
$gray5: rgb(130, 130, 130);
$gray6: rgb(100, 100, 100);
$gray7: rgb(75, 75, 75);
$gray8: rgb(50, 50, 50);

body {
  margin: 0;
  padding: 0;
  background-color: $gray8;
}
