@import '../../../styles.scss';

.now-playing-wrapper {
  display:flex;
  justify-content: center;
}
.now-playing {
  position: fixed;
  bottom: 0;
  background-color: $brandColor;
  width: 30%;
  min-width: 300px;
  text-align: center;
  display: flex;
  color: $gray1;
}

.song-info {
  text-align: center;
  flex-grow: 2;
}

.song-control {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.song-control-buttons i {
  display: inline-block;
  margin-left: 5px;
}

.song-queue-button {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}
